<p id="notice"><%= notice %></p>

<div>
  <h1 class="text-center"><%=@links.first.campaign.name%></h1>
  <h1 class="text-center">Links</h1>  
</div>

<div >
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th class="text-center">Url</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @links.each do |link| %>
        <tr>
          <td><%= link.url %></td>
          <td><%= link_to 'Show', campaign_link_path(id: link.id) %></td>
          <td><%= link_to 'Edit', edit_campaign_link_path(id: link.id) %></td>
          <td><%= form_tag campaign_link_path(id: link.id), method: "delete" do %>
            <%=submit_tag "Delete"%></td>
          <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<br>





<div class="text-right" >
  <h4><%= will_paginate @links%></h4>
  <h2><%= link_to 'New Link', new_campaign_link_path %></h2>  
</div>

<div>
  <h4>Import Links From CSV</h4>
    <%= form_tag import_campaign_links_path, multipart: true, class: "form-inline" do%>
      <%=file_field_tag :file%>
      <%=submit_tag "Import CSV"%>
    <% end %>
</div>

<div>
  <h4>Click Take Screenshot and wait till it completes</h4>
    <%= form_tag take_screenshot_campaign_links_path(@campaign.id) do%>
      <%=submit_tag "Take Screenshot"%>
    <% end %>
</div>
<br>
<br>

<div>
  <td><%= button_to 'Download', create_zip_campaign_links_path ,:class =>"btn",:method => :get%></td>  
</div>



<h2><%= link_to 'Back', campaign_path(@campaign) %></h2>





